// Define variables for your color scheme

// For example:
$ghost-white: #F8F8FF;
$secondary-text: #FFFFFF;
$secondary-background: #303030;
$light-background: #222222;
$dark-background: #1C1E21;
$light-purple: #D4B5FA;
$dark-purple: #7447F2;
$electric-red: #FF2D55;

