// .main {
//   display: flex;
//   flex-direction: row;
// }

// .display-games {
//   display: flex;
//   flex-direction: row;
//   width: 100%;
//   height: 100vh;
// }

.tag-item {
  display: inline-block;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 0.7rem;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  border: 8px, solid #8E67F6;
  background-color: $secondary-background;
  border: 1px solid #7E73FF;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

.tag-selector:checked + label {
  background-color: #7E73FF;
  color: white;
}

.games-background {
  background: #171717;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.filters-background {
  background: #1F1F1F;
  padding: 20px;
  border-right: 1px solid #818181;
  border-top: 1px solid #818181;
  border-bottom: 1px solid #818181;
  position: sticky;
}

.filters-content{
  position:sticky;
  top: 0;
  h3 {
    font-family: $headers-font;
    font-weight: 700;
    color: $ghost-white;
    font-size: 20px;
    margin-top: 11px;
  }
  h5, li {
    font-size: 15px;
    list-style: none;
  }
}

.filters-type {
  margin-top: 60px;
}

.filter {
  &:hover {
    background-color: $secondary-background;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 8px;
    border-color: #8E67F6;
    border-style: solid;
    width: 100%;
    border-width: thin;
    padding: 3px 15px;
    text-align: center;

  }
}

.hero {
  height: 350px;
  padding: 0px 100px;
  margin-bottom: 50px;
  background: #1F1F1F;
}

.carousel {
  height: 100%;
}

.carousel-inner {
  background: #171717;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 10px 10px;
}
.image-margin {
  margin: auto;
}

.image-sidebox {
  padding: 10px;
  margin-top: 5px;
  &:hover a {
    text-decoration: none;
  }
  h4 {
    font-family: $headers-font;
    font-weight: 600;
    color: $ghost-white;
    font-size: 18px;
  }
  p {
    font-family: $body-font;
    font-weight: 300;
    color: #aeaeb2;
    font-size: 12px;
    font-style: italic;
  }
  .game-tag {
    color: $light-purple;
  }
}

.hero-button {
  font-family: $headers-font;
  font-weight: 600;
  color: $ghost-white;
  font-size: 12px;
  border-color: #8E67F6;
  border-radius: 6px;
  border-style: solid;
  text-align: center;
  margin: 60px 30px 0px 15px;
  padding: 4px;
  a {
    color: $ghost-white;
  }

  &:hover {
    background-color: #8E67F6;
  }

}

#following-button {
  background-color: #8E67F6;
  a {
    text-decoration: none;
  }
}

// .w-75 {
//     width: 75% !important;
// }

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff2D55' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff2D55' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}


.form-container-index {
  padding: 3px;
  margin-bottom: 10px;
}

.form-control {
  background-color: #313030;
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 10px 0px 0px 10px;
}

.btn-search-index{
  border-radius: 0px 10px 10px 0px;
}

.games-container {
 border-top: 1px solid #818181;
 padding: 0px;
}

.games-search {
  padding: 10px;
  margin-bottom: 20px;
  h2 {
    font-family: $headers-font;
    font-weight: 700;
    color: $ghost-white;
    font-size: 24px;
  }
}
