.cards-post{
  border: $light-background solid 2px;
  border-radius: 8px;
  padding: 24px;
  margin-bottom: 8px;
}

.card-discussion{
  background-color: $light-background;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 8px;
  margin-bottom: 8px;
}

.card-devlogs{
  background-color: $light-background;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 8px;
  margin-bottom: 8px;
}