.gallery {
  background: $light-background;
}

.gallery-cell {
  width: 25%;
  height: 200px;
  margin-right: 10px;
  background: $secondary-text;
  counter-increment: gallery-cell;
  border-radius: 10px;
  img {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
  }
}


// left side
.row-left {
  position: sticky;
  top: 0;
}
.content-show-page {
  padding-top: 14px;
}
.devlog-title-show-page {
  padding-top: 14px;
  p {
    margin-bottom: 7px;
    color: $electric-red;
  }
  h5 {
    opacity: .6;
  }

}
#devlog-content {
  padding-top: 14px;
}

#review-content-show-page {
  padding-top: 14px;
}


// right side
#no-posts {
  padding-top: 21px;
}
/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: $light-background;
}

.gallery-container {
  background-color: $light-background;
  padding: 70px 42px;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  border-radius: 10px;
}
.flickity-prev-next-button {
  background: $light-background !important;
  svg > .arrow {
    color: $electric-red;
  }

}
.flickity-prev-next-button .arrow {
   color: $ghost-white;
   fill: $electric-red !important;
}

.flickity-prev-next-button.next {
    right: -30px !important;
}
.flickity-prev-next-button.previous {
    left: -30px !important;
}

// navbar-links
.navbar-links {
  background-color: $secondary-background;
}
.navbar-links ul {
  display: inline-block;
  list-style-type: none;
  text-align: center;
  li {
    display: inline-block;
  }
}

// form
.fake-form {
  background-color: $secondary-background;
  color: $ghost-white;
  border-radius: 24px;
  padding: 7px 14px;
  border: 1px solid $secondary-background;
}

.fake-form-container {
  display: flex;
  padding-bottom: 14px;
  padding: 14px;
  border-bottom: 1px solid $light-purple;
  .fake-form {
    width: 100%;
    margin-left: 2%;
  }
}

.post-form {
  padding-top: 14px;
  .form-control{
    border: none;
    border-radius: 10px;
    background-color: $secondary-background;
    color: $ghost-white;
  }
  textarea {
    height: 100px;
  }
}

.post-form-photo {
  opacity: .7;
  border-radius: 10px;
}
.card-show-reply .form-control {
  background-color: $secondary-background;
  color: $ghost-white;
}

.line-form{
  border-bottom: 1px solid $light-purple;
}






//popup
.modal-content {
  background-color: $dark-background;
  border-radius: 10px;
  border: 1px solid $secondary-background;
}

#close-button {
  font-size: 200px;
  font-size: 100%;
  color: $ghost-white;
}

.modal-header button {
  border: none;
  padding: none;
  &:hover {
    border: none;
  }
}
.modal-header h5 {
  color: $ghost-white;
  opacity: .8;
  padding-left: 160px;
}


// replies under posts
.reply-container {
  padding: 14px;
}

.reply-wrapper {
  display: flex;
  width: 90%;
}

.reply-wrapper p {
  background-color: $secondary-background;
  padding: 7px 14px;
  border-radius: 16px;
  min-width: 30%;
  margin-left: 7px;
}
.reply-container .time {
  font-size: 12px;
  opacity: .6;
  padding-left: 10%;
  margin-bottom: 0;
}

#comment-number {
  margin: 14px;
  padding-bottom: 7px;
  padding-left: 80%;
  border-bottom: 1px solid $light-purple;
  opacity: .6;
  font-size: 14px;
}

.hide {
  display: none;
}
.see-comments {
  padding-left: 14px;
  // color: $light-background;
  opacity: .6;
}







