.gallery {
  background: $light-background;
}

.gallery-cell {
  width: 25%;
  height: 200px;
  margin-right: 10px;
  background: $secondary-text;
  counter-increment: gallery-cell;
  border-radius: 10px;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: $light-background;
}

.gallery-container {
  background-color: $light-background;
  padding: 70px 42px;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  border-radius: 10px;
}
.flickity-prev-next-button {
  background: $light-background !important;
  svg > .arrow {
    color: $electric-red;
  }

}

.flickity-prev-next-button .arrow {
   color: $ghost-white;
}

// navbar-links
.navbar-links {
  background-color: $secondary-background;
}
.navbar-links ul {
  display: inline-block;
  list-style-type: none;
  text-align: center;
  li {
    display: inline-block;
  }
}

// form
.fake-form {
  background-color: #FFF;
  color: $secondary-background;
  border-radius: 24px;
  padding: 7px 14px;
  border: 1px solid $secondary-background;
}

.fake-form-container {
  display: flex;
  padding-bottom: 14px;
  border-bottom: 1px solid $light-purple;
  .fake-form {
    width: 100%;

    margin-left: 2%;
  }
}

//popup
.modal-content {
  background-color: $dark-background;
  border-radius: 10px;
  border: 1px solid $secondary-background;
}











