<div class="wrapper">
  <div id ="footer" class="footer align-items-center">
    <div>
      <div>
        <ul class="d-flex justify-space-between p-0 align-items-center m-0">
          <li class="footer-item mr-3 social-media-link"><a href="#"><i class="fab fa-facebook"></i></a></li>
          <li class="footer-item mr-3"><a href="#" class="footer-item">About</a></li>
          <li class="footer-item mr-3"><a href="#"class="footer-item">FAQ</a></li>
          <li class="footer-item mr-3"><a href="#"class="footer-item">BLOG</a></li>
          <li class="footer-item"><a href="#"class="footer-item">CONTACT US</a></li>
        </ul>
      </div>
      <div class="d-flex justify-content-center">
        <p>Copyright © 2020 LevelUp</p>
      </div>
    </div>
  </div>
</div>
