
    <div class="welcome-form-style" id="welcome-modal">
      <div class="d-flex align-items-center flex-column p-5">
        <h2>Hi there!</h2>
        <h6>We are happy to have you browsing our handpicked games!</h6>
        <p>Here's what you can do:</p>
        <p><i class="fas fa-scroll"></i>  Browse Games</p>
        <p><i class="fas fa-heart"></i>  Follow Games</p>
        <p><i class="fas fa-headset"></i>  Communicate with developers and give feedback!!</p>
        <p><i class="fas fa-gamepad"></i>  Download awesome games!</p>
        <%= link_to "Got it!", games_path(hide_welcome: true), class:"welcome-button"%>
      </div>
      <div class="lower"></div>
    </div>

