<div class="box">
  <div class="cards-post">
    <% @discussion.each do |discussion| %>
      <div class="card-discussion">
        <p><%= discussion.user_id %></p>
        <p><%= discussion.content %></p>
      </div>
    <% end %>
    <%= link_to "Add a comment", new_game_post_path(category: "discussion"), class: "btn btn-success submit-button" %>
  </div>
</div>