.submit-button{
  color: $ghost-white;
  border-radius: 4px;
  padding: 4px;
  &:hover{
    color: $secondary-text;
  }
}

.btn-space{
  margin-bottom: 8px;
}

.button-special {
  color: $secondary-background;
}

.btn-for-post {
  background-color: $secondary-background;
  width: 100%;
  opacity: .7;
  &:hover {
    opacity: 1;
  }

  color: $ghost-white;

  &:hover {
    color: $ghost-white;

  }
}
