.submit-button{
  color: $ghost-white;
  border-radius: 4px;
  padding: 4px;
  &:hover{
    color: $secondary-text;
  }
}

.btn-space{
  margin-bottom: 8px;
}

.button-special {
  color: $secondary-background;
}

.btn-for-post {
  background-color: $dark-purple;
  width: 100%;
  color: $ghost-white;
  &:hover {
    color: $secondary-text;
  }
}

