.card-show-left {
  background-color: $light-background;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  padding: 14px;
  height: 300px;
  margin: 21px 0;
}

.card-show-right {
  background-color: $light-background;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  padding: 14px;
  margin: 21px 0;

}





