.form-container{
  background-color: $light-background;
  border-radius: 24px;
  padding: 48px;
}

.new-form{
  border-radius: $border-radius;
  border-radius: 10px;
  .form-control {
    border: none;
    border-radius: 10px;
    background-color: $secondary-background;
    color: $ghost-white;
   }
}

.upload-photo {
  cursor: pointer;
  background: $secondary-background;
  padding: 10px;
  border-radius: 10px;
  margin: 0;
  &:hover{
    background: $light-background;
  }
}