.games-card {
  width: 250px;
  height: 370px;
  background: #1F1F1F;
  margin-bottom: 35px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: 0.3s ease;
  &:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  }
  margin: 21px;
}



.game-image {
  height: 220px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.game-card-info {
  a {
    color: $ghost-white;
    font: $body-font;
  }
}

.game-tag {
  color: $light-purple;
  font: $body-font;
  font-weight: 500;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: -0.015em;
  margin: 0px auto;
}


.game-description {
  color: #aeaeb2;
  font-family: $body-font;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 14px;
  letter-spacing: -0.015em;
  margin-top: 4px;
}

.game-card-button {
  display: flex;
  background-color:#7447F2;
  justify-content: flex-end;
  margin-right: 10px;
  margin-bottom: 14px;
  position: absolute;
  right: 10px;
  bottom: 1px;
  font-family: $headers-font;
  color: $ghost-white;
  font-weight: 500;
  font-size: 13px;
  border-radius: 8px;
  padding: 4px 10px;
  border-color: transparent;
}

.game-card-text {
  padding: 8px 10px 0px 8px;
}

.game-title {
  color: $ghost-white;
}

