.games-card {
  width: 250px;
  background: #1F1F1F;
  margin-bottom: 35px;
  border-radius: 10px;
  overflow: hidden;
  margin-right: 8px;
}

.game-image {
  width: 250px;
  height: 220px;
  object-fit: cover;
  object-position: center;
}

.game-card-info {
  a {
    color: $ghost-white;
    font: $body-font;
  }
}

.game-tag {
  color: $light-purple;
  font: $body-font;
  font-weight: 500;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: -0.015em;
  margin: 0px auto;
}


.game-description {
  color: $ghost-white;
  font-family: $body-font;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 14px;
  letter-spacing: -0.015em;
  margin-top: 4px;
}

.game-card-button {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  margin-bottom: 0;
  p {
    font-family: $headers-font;
    font-weight: 500;
    font-size: 13px;
  }
}

.game-card-text {
  padding: 4px;
}

