// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "cards";
@import "form";
@import "button";
@import "games-card-index";
@import "footer";
@import "banner";

.box {
  margin-left: 7.31383%;
  margin-right: 7.31383%;
}

.wrapper {
  color: $secondary-text;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-bottom: 90px;
}
