.navbar-lewagon {
  justify-content: space-between;
  border-bottom: 1px solid #818181;
  padding: 0px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.page-icon {
  padding: 8px;
  color: #ABB2B9;
  width: 85px;
  height: 60px;
  border-radius: 16px;
  font-size: 32px;
  text-align: center;
  &:hover {
    background-color: $secondary-background;
    cursor: pointer;
    transition: 0.3s;
  }
}

.page-icons {
  .active {
    background-color: $secondary-background;
  }
  flex-grow: 1;
}

.nav-username {
  color: $ghost-white;
  margin-left: 8px;
  margin-right: 24px;
  font-weight: 700;
}

.settings-icon {
  padding: 8px;
  color: #ABB2B9;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 16px;
  text-align: center;
  background-color: $secondary-background;
  &:hover {
    cursor: pointer;
  }
}

.nav-container {
  width: 350px;
}


